*{
    margin: 0;
    padding: 0;
	font-family: Courier, Garamond,'Azeret Mono', monospace, Arial, Helvetica, sans-serif;
	max-width: 100%;
}

/* header */
.hea { 
	height: 100px;
	display: flex;
    align-items: center;
    justify-content: center;

	grid-area: hea1; 
}




/* navegation bar */
.nvb {
	height: 50px;
	background-color: rgb(48, 48, 48);
	color: white;
	outline-style: solid;
    outline-color: rgb(250, 35, 70);
	outline-width: 1px;
	
	display: flex;
    align-items: center;
    justify-content: left;
	
	grid-area: nvb1; 
}

/* div de navegation bar */
.nvb > div,
.nvb > h5 {
	padding: 10px;
}

/* left menú */
.lme {
	outline-style: solid;
    outline-color: rgb(100, 200, 220);
	outline-width: 1px;
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

	grid-area: lme1;
}

/* centro  */
.ctr {
	outline-style: solid;
    outline-color: rgb(100, 200, 220);
	outline-width: 1px;
	
	text-align:justify;  
    text-justify:inter-word;   
	
	display: flex;
    align-items: center;
	flex-direction:column; 
    align-self: flex-start;
    
	grid-area: ctr1;
}

.img_ctr {
    -webkit-border-radius: 15px;
    max-width: 800px;
    max-height: 240px;
    width: 95%;
}

.ctr p{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10px;
}


/* centro abajo */


.itm{
    display: flex;
    align-items: center;
    justify-content: center;
}


.ctr2 {
    position: relative;
    outline-style: solid;
    outline-color: rgb(100, 200, 220);
	outline-width: 1px;
	display: flex;
    flex-direction: column;
    grid-area: ctr2;
}

.img_cont {
	position: relative;
    width: 95%;
    display: flex;
    grid-area: imit;
}

.img_res {
    max-width: 300px;
    max-height: 240px;
    margin-left: 10%;
    width: 90%;
	height: auto;

	-webkit-border-radius: 15px;
	
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.atxt{
    max-width: 550px;
    max-height: 300px;
    position: relative;
    overflow:auto;
    display: flex;
    margin-right: 10%;
    display: flex;
    grid-area: txit;
}


.button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    grid-area: btit;
}
  
.like {background-color: rgb(190, 230, 100);
    width: 15%;
    height: 70px;
    padding: 5px;
    margin-right: 1%;
    border-radius: 10px;
    display: flex;
} 

.bucket {background-color: rgb(100, 200, 220);
    width: 15%;
    height: 70px;
    padding: 5px;
    margin-right: 1%;
    border-radius: 10px;
    display: flex;
} 



/* footer */
.foo { 
	background-color: rgb(48, 48, 48);
	height: auto;
	padding: 1em;
	display: flex;
    align-items: center;
    justify-content: center;
	outline-style: solid;
    outline-color: rgb(250, 35, 70);
	outline-width: 1px;
	text-align: center;

	grid-area: foo1; 
}




/* big container */
.big-container {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    'hea1 hea1 hea1 hea1 hea1 hea1'
    'nvb1 nvb1 nvb1 nvb1 nvb1 nvb1'
    'lme1 ctr1 ctr1 ctr1 ctr1 ctr1'   
    'lme1 ctr2 ctr2 ctr2 ctr2 ctr2'   
    'foo1 foo1 foo1 foo1 foo1 foo1';
  grid-gap: 5px;
  background-color: #112255;
  color: white;
  padding: 10px;
}


/* div de big container */
.big-container > div {
  	text-align: center;
 	padding: 20px 0;
	border-radius: 5px;

}

/* links */
a:link {
	color: white;
	background-color: transparent;
	text-decoration: none;
}
a:visited {
	color: white;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: rgb(250, 35, 70);
	background-color: transparent;
	text-decoration: none;
}
a:active {
	color: violet;
	background-color: transparent;
	text-decoration: none;
}



@media screen and (max-width: 650px){
    .itm{
        display: flex;
        flex-direction:column;
        justify-content: center;
    }

    .big-container {
        grid-template-areas:
        'hea1 hea1 hea1 hea1 hea1 hea1'
        'nvb1 nvb1 nvb1 nvb1 nvb1 nvb1'
        'lme1 ctr1 ctr1 ctr1 ctr1 ctr1'   
        'lme1 ctr2 ctr2 ctr2 ctr2 ctr2'   
        'foo1 foo1 foo1 foo1 foo1 foo1';
      grid-gap: 5px;
      background-color: #112255;
      color: white;
      padding: 10px;
    }
}